@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1 {
  font-family: 'Press Start 2P', cursive;
}

li {
    font-family: Georgia;
  }

  #ingredients li { 
    font-family: Arial;
  }

  #ingredients li span {
    font-style: italic;
    color: #999;
  }

  #equipment li:nth-child(3) {
    color: red;
  }